body {
  background: #003E15;
  font-size: 12px;
}
.container {
  background: #4E9C68;
  margin-top: 10px;
  width: 80%;
}
table {
  text-align: center;
  font-size: 12px;
  width: 600px;
  border-collapse: separate;
  background-color: #DEE7E1;
}
.col-sm-11 {
  text-align: center;
}
.col-sm-11 > div {
  border: 1px solid #fff;
}
